* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color:#084077;
    font-family: 'Righteous', cursive;
    color:#8ED0D3;
}

.page-container {
    background-color: #084077;
}

/* in here can i make the wave top an image and relatively absolute position it to the top but hooked on the showcase flex*/
.top-showcase {
    background-color: #fff;
    border:1px solid red;
    width:759px;
    height:150px;
    margin:0 auto;
}

.mid-container,
.lower-container,
.footer-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.letter-name-left {
    background-color: yellow;
/*    display:flex;*/
    width:379px;
    height:556px;
}

/*im going to relatively position the bubble hooked onto this item*/
.letter-right {
    background-color: teal;
/*    display:flex;*/
    width:379px;
    height:556px;
}

.history-left {
    background-color: pink;
/*    display:flex;*/
    width:438px;
    height:204px;
}

.sam-photo-right {
    background-color: orange;
/*    display:flex;*/
    width:323px;
    height:204px;
}

.sources-left {
    background-color: green;
/*    display:flex;*/
    width:438px;
    height:114px;
}

.bio-right {
    background-color: red;
/*    display:flex;*/
    width:321px;
    height:114px;
}

img {
    border-radius: 50%;
}