* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    justify-content: center;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
     text-decoration: underline;
}

a:visited {
    text-decoration: none; 
    color:black;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: 'Open Sans', sans-serif;
    color:black;
    margin:0 auto;
}

.page-container {
    display:flex
}

.left-container {
    width:384px;
    height: 1024px;
}

.title-container {
    margin: 0 auto;
    width:768px;
    height: 73px;
    background-color: #AAE694; 
    display: flex;
    justify-content: space-between;
}

h1 {
    padding-left: 39px;
    padding-top: 15px;
    font-family: 'Short Stack', cursive;
}

.home-button{
    width:52px;
    height:52px;
    justify-content: flex-end;
    margin:10px;
    position:relative;
    z-index:1000;
}

.reminder-button {
    width:180px;
    height:120px;
    background-color: #5BAD54; 
    border-radius: 25%;
    padding:25px;
    margin:31px 108px 90px 30px;
    color:white;
    font-size:20px;
}

.apple {
    position:relative;
    z-index:100;
}

#hint-apple {
    visibility:hidden;
}

/*
.hint-1 {
    width:20px;
    background-color: yellowgreen;
    height: 20px;
    position: relative;
    z-index: 999999999999;
}
*/

#show-apple1 {
    position: relative;
    top:-100;
    visibility: hidden;
}

.fraction-goal {
    width:173px;
    height:212px;
    margin:0px 108px 27px 30px;
    color: white;
    font-size:70px;
    position: relative;
}

.fraction-goal img {
    width:700px;
    position: absolute;
    top:-250;
    left:-215;
}

.submit-button {
    width:130px;
    height:80px;
    background-color: #5BAD54;
    border-radius: 25%;
    padding: 25px 2px;
    margin:0px 108px 0px 30px;
    color:white;
    font-size:15px;
}


.right-container {
  width:384px;
  height: 1024px;
  position: relative;
}

.game-pieces{
    position: relative;
    width:384px;
    height:750px;
}

.blank-tree {
    position: absolute;
    z-index: -50;
    top:-30px;
    left:-110px;
}

#click-apple1 {
    position: relative;
    left:60px;
    top:210px;
    z-index:300;
   
}

#click-apple2 {
    position: relative;
    top:55px;
    left:35px;
    z-index: 500;
}

#click-apple3 {
    position: relative;
    top:-60px;
    left:130px;
    z-index: 500;
}

#click-apple4 {
    position: relative;
    top:-40px;
    left:120px;
    z-index: 500;
}

#click-apple5 {
    position: relative;
    top:-20px;
    left:150px;
    z-index: 500;
}

#click-apple6 {
    position: relative;
    top:-90px;
    left:270px;
    z-index: 500;
}

#click-apple7 {
    position: relative;
    top:-190px;
    left:200px;
    z-index: 500;
}

#click-apple8 {
    position: relative;
    top:-315px;
    left:240px;
    z-index: 500;
}



#show-apple1 {
    position: relative;
    left:60px;
    top:-20px;
    visibility: hidden;
    }

#show-apple2 {
    position: relative;
    top:-75px;
    left:84px;
    visibility: hidden;
}

#show-apple3 {
    position: relative;
    top:-125px;
    left:103px;
    visibility: hidden;
}

#show-apple4 {
    position: relative;
    top:-176px;
    left:125px;
    visibility: hidden;
}

#show-apple5 {
    position: relative;
    top:-228px;
    left:145px;
    visibility: hidden;
}

#show-apple6 {
     position: relative;
    top:-280px;
    left:168px;
    visibility: hidden;
}

#show-apple7 {
     position: relative;
    top:-333px;
    left:192px;
    visibility: hidden;
}

#show-apple8 {
     position: relative;
    top:-386px;
    left:215px;
    visibility: hidden;
}

.basket-image,
.emptybasket {
    width:349px;
    height:168px;
    position: absolute;
    left:50px;
    bottom:75px;
}

.overlay {
    visibility: hidden;
    position:fixed;
    left:0;
    top:0;
    z-index:777776;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: rgb(0,0,0,0.8)
}

.modal-content {
    visibility: hidden;
    z-index:100px;
    width:497px;
    height:531px;
    background-color:#CBF5F7;
    position:absolute;
    margin:209px 135px 284px 136px;
    z-index: 777777;
}

.modal-content h1 {
    width:417px;
    height:92px;
    background-color:lightgoldenrodyellow;
    margin: 43px 40px 45px 40px;
    font-size:35px;
    padding:30px 55px;
}

.modal-content p {
    width:383px;
    height:259px;
    background-color: lightgoldenrodyellow;
    margin:0px 104px 92px 55px;
    font-size:25px;
    padding:10px 5px 9px 10px;

}

.modal-content img {
    width:300px;
    position: relative;
    top:-55;
    left:125;
}

.apple-next-button, 
.apple-retry {
    background-color: lightgoldenrodyellow;
    width:200px;
    height:60px;
    font-size:20;
    margin:0 auto;
    padding: 18px 50px;
    border-radius: 35%
}

.apple-next-button {
    position:relative;
    top:-80px;
    left:50px
    z-index:8888888;
}

.apple-retry {
    position:relative;
    top:65px;
    left:150px
    z-index:8888888;

}

.no-flex-content {
    margin-right:10px;
}

.close {
    color:#8E8D86;
    float:right;
    font-size:60px;
    font-weight:bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor:pointer;
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden!important;
}