* {
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
}

a {
     color: black;
     text-decoration:none;

}

a:hover {
    text-decoration:underline;
}

a:visited {
    
}

body {
    background-color: lightgoldenrodyellow;
    font-family: 'Short Stack', cursive;
/*font-family: 'Short Stack', cursive;*/
    color:black;
}

.page-container {
    background-color: #FFF4B9;
}

.title-container,
.mid-container,
.bottom-container {
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items: flex-start;
}

.title-container {
    background-color: #AAE694;
    width:768px;
    height:145px;
    align-items: center;
}

h1 {
    font-size:80px;
}

.mid-container {
    position:relative;
    padding-left: 133px;
    margin-right: 26px;
}

.btn {
    background-color: #5BAD54;
    width:200px;
    height:120px;
    border-radius: 26%; 
    font-family: 'Open Sans', sans-serif;
    padding:33px 20px 0px 19px;
    font-size: 35px;
}

