* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

h1, p {
    background-color: #DDE0E3; /*Light gray*/
}

em, strong {
    background-color: #B2D6FF; /*light blue*/
    display: inline; /*this is the default for em and strong*/
}
h1 {
    padding: 50px;
    border-bottom: 1px solid #5D6063;
}

/*border is size style color ordered*/

p {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 0 px;
    margin-top: 25px;
    margin-bottom: 50px; /*same shorthand as padding*/
}
/*or can be rewritten as padding 20px 10px vertical horizontal*/
/*or interpretted clockwise if four diff values, top right bottom left*/

div {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 200px;
    box-sizing: border-box;
    margin: 20px auto;
}

body {
    text-align: center;
}