* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color: lightgoldenrodyellow;
}

.page-container {
    margin: 0 auto;
    width:768px;
    height:1024px;
    display: flex-start;
}

.gamename {
    width:689px;
    height:130px;
    background-color:darkorange;
    margin-bottom: 25px;
    margin-left:40px;
    padding-top:18.5px;
    padding-left: 67.5px
}

h1 {
    font-size:80px;
    color:red;
}

.welcome-page-image {
    width:569px;
    height:668px;
    background-color: green;
    margin-left:100px;
    margin-bottom: 25px;
}

.start-game-button {
    width:261px;
    height:80px;
    background-color:red;
    margin-left:254px;
    padding-top:20px;
    padding-left: 51px
}

h2 {
    color:black;
    font-size:35px;
}
